<form class="form">
    <mat-form-field class="formField">
        <mat-label>firstName</mat-label>
        <input matInput formControlName="firstName">
    </mat-form-field>
</form>
<mat-list>
    <mat-list-item *ngFor="let p of profiles">
        <span matListItemTitle>{{ p.firstName }} {{p.lastName}}</span>
        <span matListItemLine>SSN: {{ p.SSN }}</span>
        <span matListItemLine>Work Authorization title: {{ p.SSN }}</span>
        <span matListItemLine>Email: {{ p.SSN }}</span>
        <span matListItemLine>Phone Number: {{ p.cellPhoneNumber }}</span>
        <span matListItemLine>{{ p.SSN }}</span>
        </mat-list-item>
    </mat-list-item>
</mat-list>
