
<div *ngIf="profiles.length; else elseBlock">
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let p of profiles">
            <mat-expansion-panel-header class="hr-employee-panel-header">
                <mat-panel-title>
                    {{ p.firstName }} {{p.lastName}}
                </mat-panel-title>
                <mat-panel-description>
                            {{getStep(p.step)}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <span>Work Authorization title:</span> <span>{{ p.title }}</span>
                <span>Start At:</span> <span>{{ p.start }}</span>
                <span>End At:</span> <span>{{ p.end }}</span>
                <span>Days Remaining:</span><span>{{ p.title }}</span>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- <mat-list>
        <mat-list-item *ngFor="let p of profiles">
            <span matListItemTitle>{{ p.firstName }} {{p.lastName}}</span>
            <span matListItemLine>SSN: {{ p.SSN }}</span>
            <span matListItemLine>Work Authorization title: {{ p.title }}</span>
            <span matListItemLine>Email: {{ p.email }}</span>
            <span matListItemLine>Phone Number: {{ p.cellPhoneNumber }}</span>
        </mat-list-item>
    </mat-list> -->
</div>
<ng-template #elseBlock>No profile found</ng-template>