.mat-mdc-form-field {
    display: block;
}
.login-input-container {
    border: 1px black solid;
    border-radius: 10%;
    padding: 25px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}