.flex-container {
    display: flex;
    flex-direction: column;
}

mat-grid-tile.bold {
    font-weight: bold;
}

.layout {
    padding: 1rem;
}

.Open {
    color: red;
}

.InProgress {
    color: yellow
}

.Closed {
    color: green;
}
