<div class="layout">
    <br>
    <h1>Onboarding Application</h1>
    <br>
    <form #myForm="ngForm" *ngIf="status === 'Not Started' || status === 'Rejected'">
        <p *ngIf="status === 'Rejected'">{{ "Your application has been rejected. Here is the feedfack: " + profile.feedback + ". Please make changes and resubmit." }}</p>
        <table>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="firstName" name="firstName" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="lastName" name="lastName" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Middle Name</mat-label>
                    <input matInput [(ngModel)]="middleName" name="middleName">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Preferred Name</mat-label>
                    <input matInput [(ngModel)]="preferredName" name="preferredName">
                </mat-form-field>
            </td>
        </tr>
        </table>

        <table>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput value={{email}} disabled>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>SSN</mat-label>
                    <input matInput [(ngModel)]="ssn" name="ssn" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="birthPicker" [(ngModel)]="dateOfBirth" name="dateOfBirth" required>
                    <mat-datepicker-toggle matIconSuffix [for]="birthPicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthPicker></mat-datepicker>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Gender</mat-label>
                    <mat-select [(ngModel)]="gender" name="gender" required>
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="not_answer">I do not wish to answer</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        </table>

        <table>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Cell Phone Number</mat-label>
                    <input matInput [(ngModel)]="cellPhone" name="cellPhone" required>
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Work Phone Number</mat-label>
                    <input matInput [(ngModel)]="workPhone" name="workPhone">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
            </td>
        </tr>
        </table>

        <!-- <mat-form-field>
            <ngx-mat-file-input x-mat-file-input (change)="onFilePickedPic($event)" accept="image/*">
            </ngx-mat-file-input >
            <button mat-stroked-button (click)="onFileUpload($event)">Upload Picture</button>
        </mat-form-field> -->

        <label>Profile Picture </label>
        <input type="file" (change)="onFilePickedPic($event)" accept="image/*">
        <button mat-stroked-button (click)="onFileUpload($event)">Upload Picture</button>

        <br><br>
        <h3>Current Address</h3>
        <table>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Building/apt #</mat-label>
                    <input matInput [(ngModel)]="apt" name="apt">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Street</mat-label>
                    <input matInput [(ngModel)]="street" name="street" required>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput [(ngModel)]="city" name="city" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput [(ngModel)]="state" name="state" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Zip</mat-label>
                    <input matInput [(ngModel)]="zip" name="zip" required>
                </mat-form-field>
            </td>
        </tr>
        </table>

        <h3>Car Information</h3>
        <table>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Make</mat-label>
                    <input matInput [(ngModel)]="carMake" name="carMake">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Model</mat-label>
                    <input matInput [(ngModel)]="carModel" name="carModel">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Color</mat-label>
                    <input matInput [(ngModel)]="carColor" name="carColor">
                </mat-form-field>
            </td>
        </tr>
        </table>

        <h3>Work Authorization</h3>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Are you a citizen or permanent resident of the U.S.?</mat-label>
            <mat-select [(ngModel)]="citizenship" name="citizenship" required>
                <mat-option value="citizen">Citizen</mat-option>
                <mat-option value="green_card">Green Card</mat-option>
                <mat-option value="non_citizen">No</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="citizenship === 'non_citizen'">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>What is your work authorization?</mat-label>
                <mat-select [(ngModel)]="workAuthorization" name="workAuthorization" required>
                    <mat-option value="h1b">H1-B</mat-option>
                    <mat-option value="l2">L2</mat-option>
                    <mat-option value="f1">F1(CPT/OPT)</mat-option>
                    <mat-option value="h4">H4</mat-option>
                    <mat-option value="other">Other</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="workAuthorization === 'f1'">
                <label>OPT Receipt </label>
                <input type="file" (change)="onFilePickedOpt($event)">
                <button mat-stroked-button (click)="onFileUpload($event)">Upload OPT Receipt</button>
            </div>

            <div *ngIf="workAuthorization === 'other'">
                <mat-form-field appearance="fill">
                    <mat-label>Visa Title</mat-label>
                    <input matInput [(ngModel)]="visaTitle" name="visaTitle">
                </mat-form-field>
            </div>

            <table>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startPicker" [(ngModel)]="visaStartDate" name="visaStartDate" required>
                        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endPicker" [(ngModel)]="visaEndDate" name="visaEndDate" required>
                        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            </table>
        </div>

        <mat-checkbox [(ngModel)]="hasDriverLicense" name="hasDriverLicense">Do you have a driver's license?</mat-checkbox>
        <div *ngIf="hasDriverLicense">
            <table>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Driver's License Number</mat-label>
                        <input matInput [(ngModel)]="driverLicenseNumber" name="driverLicenseNumber">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Expiration Date</mat-label>
                        <input matInput [matDatepicker]="expirePicker" [(ngModel)]="driverLicenseExpiration" name="driverLicenseExpiration">
                        <mat-datepicker-toggle matIconSuffix [for]="expirePicker"></mat-datepicker-toggle>
                        <mat-datepicker #expirePicker></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            </table>

            <div *ngIf="hasDriverLicense">
                <label>Driver's License Copy</label>
                <input type="file" (change)="onFilePickedDri($event)" required>
                <button mat-stroked-button (click)="onFileUpload($event)">Upload Driver's License</button>
            </div>
        </div>

        <br><br>
        <h3>Reference</h3>
        <table>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="referenceFirstName" name="referenceFirstName">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="referenceLastName" name="referenceLastName">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Middle Name</mat-label>
                    <input matInput [(ngModel)]="referenceMiddleName" name="referenceMiddleName">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput [(ngModel)]="referencePhone" name="referencePhone">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="referenceEmail" name="referenceEmail">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Relationship</mat-label>
                    <input matInput [(ngModel)]="referenceRelationship" name="referenceRelationship">
                </mat-form-field>
            </td>
        </tr>
        </table>

        <h3>Emergency Contacts</h3>
        <div *ngFor="let contact of emergencyContacts; let i = index">
            <table>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput [(ngModel)]="emergencyContacts[i].firstName" name="emergencyFirstName">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="emergencyContacts[i].lastName" name="emergencyLastName">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Middle Name</mat-label>
                        <input matInput [(ngModel)]="emergencyContacts[i].middleName" name="emergencyMiddleName">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input matInput [(ngModel)]="emergencyContacts[i].phone" name="emergencyPhone">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="emergencyContacts[i].email" name="emergencyEmail">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Relationship</mat-label>
                        <input matInput [(ngModel)]="emergencyContacts[i].relationship" name="emergencyRelationship">
                    </mat-form-field>
                </td>
                <button mat-stroked-button (click)="removeEmergencyContact(i)">Remove</button>
            </tr>
            </table>
        </div>
        <button mat-stroked-button (click)="addEmergencyContact()">Add Contact</button>

        <br>
        <div *ngIf="myForm.invalid && (myForm.dirty || myForm.touched)">
            <br>
            <p>Please fill out all required fields.</p>
            <button mat-stroked-button type="submit" disabled>Submit</button>
        </div>
        <br>
        <div *ngIf="!myForm.invalid && (myForm.dirty || myForm.touched)">
            <button mat-stroked-button type="submit" (click)="submitForm()">Submit</button>
        </div>
    </form>

    <!------------------------------------------------------------------------------------------------------------------>
    <div *ngIf=" status === 'Pending'">
        <br>
        <p>You have submitted you application. Please wait for HR to review your application.</p>
        <br>
        <h3 class="font-bold">Personal Information</h3>
        <div class="flex-row">
            <mat-list>
                <mat-list-item>First Name: </mat-list-item>
                <mat-list-item>Last Name: </mat-list-item>
                <mat-list-item *ngIf="profile.middleName">Middle Name: </mat-list-item>
                <mat-list-item *ngIf="profile.preferredName">Preferred Name: </mat-list-item>
                <mat-list-item>Cell Phone Number: </mat-list-item>
                <mat-list-item *ngIf="profile.workPhoneNumber">Work Phone Number: </mat-list-item>
                <mat-list-item>Email: </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item>{{ profile.firstName }}</mat-list-item>
                <mat-list-item>{{ profile.lastName }}</mat-list-item>
                <mat-list-item *ngIf="profile.middleName">{{ profile.middleName }}</mat-list-item>
                <mat-list-item *ngIf="profile.preferredName">{{ profile.preferredName }}</mat-list-item>
                <mat-list-item>{{ profile.cellPhoneNumber}}</mat-list-item>
                <mat-list-item *ngIf="profile.workPhoneNumber">{{ profile.workPhoneNumber }}</mat-list-item>
                <mat-list-item>{{ profile.email }}</mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item>SSN: </mat-list-item>
                <mat-list-item>Date of Birth: </mat-list-item>
                <mat-list-item *ngIf="profile.gender">Gender: </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item>{{ profile.SSN }}</mat-list-item>
                <mat-list-item>{{ profile.dateOfBirth | date: 'mediumDate' }}</mat-list-item>
                <mat-list-item *ngIf="profile.gender">{{ profile.gender }}</mat-list-item>
            </mat-list>
        </div>

        <h3 class="font-bold">Address</h3>
        <mat-list>
            <mat-list-item>{{ profile.address.street }}</mat-list-item>
            <mat-list-item *ngIf="profile.address.apt">{{ profile.address.apt }}</mat-list-item>
            <mat-list-item>{{ profile.address.city + ", " + profile.address.state + " " + profile.address.zip }}</mat-list-item>
        </mat-list>

        <div *ngIf="profile.car">
            <h3 class="font-bold">Car</h3>
            <div class="flex-row">
                <mat-list>
                    <mat-list-item>Make: </mat-list-item>
                    <mat-list-item>Model: </mat-list-item>
                    <mat-list-item>Color: </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>{{ profile.car.make }}</mat-list-item>
                    <mat-list-item>{{ profile.car.model }}</mat-list-item>
                    <mat-list-item>{{ profile.car.color }}</mat-list-item>
                </mat-list>
            </div>
        </div>

        <div *ngIf="profile.driverLicense">
            <h3 class="font-bold">Driver's License</h3>
            <div class="flex-row">
                <mat-list>
                    <mat-list-item>License Number: </mat-list-item>
                    <mat-list-item>Expiration Date: </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>{{ profile.driverLicense.number }}</mat-list-item>
                    <mat-list-item>{{ profile.driverLicense.expireDate }}</mat-list-item>
                </mat-list>
            </div>
        </div>

        <div *ngIf="profile.reference">
            <h3 class="font-bold">Reference</h3>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>{{ profile.reference.firstName + " " + profile.reference.lastName }}</span>
                    <span matListItemLine>{{ profile.reference.phone }}</span>
                    <span matListItemLine>{{ profile.reference.email }}</span>
                    <span matListItemLine>{{ profile.reference.relationship }}</span>
                </mat-list-item>
            </mat-list>
        </div>

        <h3 class="font-bold">Emergency Contacts</h3>
        <div class="flex-row">
            <mat-list *ngFor="let contact of profile.emergencyContacts">
                <mat-list-item>
                    <span matListItemTitle>{{ contact.firstName + " " + contact.lastName }}</span>
                    <span matListItemLine>{{ contact.phone }}</span>
                    <span matListItemLine>{{ contact.email }}</span>
                    <span matListItemLine>{{ contact.relationship }}</span>
                </mat-list-item>
            </mat-list>
        </div>

        <h3 class="font-bold">Documents</h3>
        <ul>
            <li *ngFor='let file of fileList'>
                {{file}}
                <a href='http://localhost:3000/user/download/{{file}}'>Download {{file}}</a>
            </li>
        </ul>
        <button mat-stroked-button color="primary" (click)='showFileList()'>Show File Summary</button>
    </div>
</div>