<app-navbar></app-navbar>
<h1>Employee Visa Management</h1>
<h2>Upload Files</h2>
<!-- 
<div [ngSwitch]='optReceiptStatus'>
    <div *ngSwitchCase="'Pending'">Waiting for HR to approve</div>
    <div *ngSwitchCase="'Approved'">
        <input type="file" (change)="onFilePickedOptEAD($event)">
        <button (click)="onFileUpload()">Upload OPT EAD</button>
    </div>
    <div *ngSwitchCase="'Rejected'">Your application is rejected for the following reason: </div>
</div> -->

<div *ngIf="next%2===0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><div [ngSwitch]='next'>
    <p>next:{{getStep(next)}}</p>
    <div *ngSwitchCase="2">
        <input type="file" (change)="onFilePickedOptEAD($event)">
        <button (click)="onFileUpload()">Upload OPT EAD</button>
    </div>
    <div *ngSwitchCase="4">
        <button (click)="onFileUpload()">Upload i-983</button>
    </div>
    <div *ngSwitchCase="6">
        <button (click)="onFileUpload()">Upload i-20</button>
    </div>
</div>
</ng-template>
<ng-template #elseBlock>Waiting for HR to approve</ng-template>


<!-- <input type="file" [(ngModel)]="test">
<div>{{test}}</div> -->
