.container{
    background-color: rgb(241, 241, 241);

}
.personal-container{
    background-color: white;
    box-shadow: 10px 1px 20px rgb(235, 235, 235);
    padding: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.personal-container2{
    margin: auto;
}
.form{
        min-width: 150px;
        max-width: 70%;
        /* width: 100%; */
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.form div{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.formField{
    width: 400px;
    margin: 0 20px;
    /* border: 1px saddlebrown solid; */
}