.container {
  /* background-color: rgb(241, 241, 241); */
  background-color: #e4e7ed;
}
img{
  height: 100px;
  width: 100px;
  transition: 0.2s;
  border-radius: 5px;
}
img:hover{
  transform: scale(2);
}
.personal-container {
  background-color: white;
  box-shadow: 15px 1px 25px rgba(172, 169, 182, 0.244);
  padding: 20px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.personal-container2 {
  margin: auto;
}
.form {
  min-width: 150px;
  max-width: 70%;
  /* width: 100%; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form div {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.formField {
  width: 400px;
  margin: 0 20px;
  /* border: 1px saddlebrown solid; */
}
