<mat-toolbar color="primary" *ngIf="isHr">
    <span>HR</span>
     <a mat-button [routerLink]="['/hrHome']">Home</a>
     <a mat-button [routerLink]="['/hrEmployeeProfiles']">Employee Profiles</a>
     <a mat-button [routerLink]="['/hrHiringManagement']">Hiring Management</a>
     <a mat-button [routerLink]="['/hrVisaManagement']">Visa Management</a>
     <a mat-button [routerLink]="['/hrHousingManagement']">House Management</a>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!isHr">
    <span>Employee</span>
     <a mat-button [routerLink]="['/employeeInfo']">Profile</a>
     <a mat-button [routerLink]="['/employeeVisa']">Visa</a>
     <a mat-button [routerLink]="['/employeeVisa']">House</a>
</mat-toolbar>