<app-navbar></app-navbar>
<div class="layout">
    <mat-accordion multi="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Pending</mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table *ngIf="pendingProfiles?.length" [dataSource]="pendingProfiles" class="mat-elevation-z0">
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">{{ element.profile?.firstName + " " + element.profile?.lastName }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button color="primary" (click)="onViewClick(element._id)">View Application</button>
                </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Rejected</mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table *ngIf="rejectedProfiles?.length" [dataSource]="rejectedProfiles" class="mat-elevation-z0">
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">{{ element.profile?.firstName + " " + element.profile?.lastName }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button color="primary" (click)="onViewClick(element._id)">View Application</button>
                </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Approved</mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table *ngIf="approvedProfiles?.length" [dataSource]="approvedProfiles" class="mat-elevation-z0">
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">{{ element.profile?.firstName + " " + element.profile?.lastName }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button color="primary" (click)="onViewClick(element._id)">View Application</button>
                </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>